# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Laravel
backend/vendor/
backend/storage/logs/*.log
backend/bootstrap/cache/*.php

# Env files
backend/.env
frontend/.env

# SQLite local databases
backend/database/database.sqlite
installer-package/app/backend/database/database.sqlite

# Installer generated / heavy files
installer-package/app/php/
installer-package/installer/
*.exe

# OS / editor
.DS_Store
Thumbs.db
.vscode/
config.bat
